# Logs
logs/
*.log

# Windows junk
Thumbs.db
Desktop.ini

# VS Code
.vscode/

# PowerShell history
*.pshistory

# OneDrive temp files
*.tmp

# .NET / C# Build Artifacts
[bB]in/
[oO]bj/

# Visual Studio / IDE Files
.vs/
*.user
*.userprefs
*.suo